<!DOCTYPE html>
<html>
  <head>
    <title>All about covid</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<style>
    body{
        background-image: url('/static/wrld.jpg');
        background-size: cover;
    }
    img{
        opacity: 0.2;
    }
   
    h2,p,h3,a{
        color:white;
    }
    .container{
        margin: 100px;
    }
    .navbar{
  background-color: black;
  color: white;
}
</style>
</head>
<body>
    <nav class="navbar">
        <h2 class="navbar-brand">COVID ASSIST</h2>
       
       
        <a class="nav-link" href="/">Home </a>
      </nav>
    <div>
    <div class="container">

        <h2>Containment Zones</h2>
        <p>Check the Containment Zones in your State</p>
      
        <div class="container">
            <div class="row">
              <div class="col-sm">
                <button class="btn btn-outline-warning" data-toggle="collapse" data-target="#demo1">Kerala</button>
                <div id="demo1" class="collapse">
                <a href="https://covid19jagratha.kerala.nic.in/home/containmentZoneList">Go to covid19jagratha.kerala.nic.in</a>
                </div><br><br>
        
                <button class="btn btn-outline-warning" data-toggle="collapse" data-target="#demo2">Delhi</button>
                <div id="demo2" class="collapse">
                <a href="https://delhifightscorona.in/containment-zones/">Go to delhifightscorona.in</a>
                </div><br><br>
              
                <button class="btn btn-outline-warning" data-toggle="collapse" data-target="#demo3">Karnataka</button>
                <div id="demo3" class="collapse">
                <a href="https://shimoga.nic.in/en/covid-19-containment-zones/">Shivamogga</a><br>
                <a href="https://hassan.nic.in/en/containment-zones-in-hassan-district/">Hassan</a>
                </div><br><br>
        
               
        <button class="btn btn-outline-warning" data-toggle="collapse" data-target="#demo12">Punjab</button>
        <div id="demo12" class="collapse">
        <a href="https://pathankot.nic.in/covid-19/">Pathankot</a><br>
        <a href="https://rupnagar.nic.in/containment-zones-orders/">Rupnagar</a>
        </div><br><br>
              </div>
              <div class="col-sm">
                <button class="btn btn-outline-warning" data-toggle="collapse" data-target="#demo5">Madhya Pradesh</button>
        <div id="demo5" class="collapse">
        <a href="https://rewa.nic.in/en/notice/covid-19-order-containment-area/">Rewa</a><br>
        <a href="https://bhopal.nic.in/en/">Bhopal</a><br>
        <a href="https://indore.nic.in/en/?s=Containment+zone">Indore</a><br>
        <a href="https://jabalpur.nic.in/en/event/covid-19-containment-zones-of-jabalpur/">Jabalpur</a>
        </div><br><br>

        
     

        <button class="btn btn-outline-warning" data-toggle="collapse" data-target="#demo7">West Bengal</button>
        <div id="demo7" class="collapse">
        <a href="https://wb.gov.in/containment-zones-in-west-bengal.aspx">Go to wb.gov.in</a>
        </div><br><br>

        <button class="btn btn-outline-warning" data-toggle="collapse" data-target="#demo8">Odisha</button>
        <div id="demo8" class="collapse">
        <a href="https://subarnapur.nic.in/notice/covid-19-containment-zones-in-subarnapur-district/">Subarnapur</a><br>
        <a href="https://jharsuguda.nic.in/?s=Containment+zone">Jharsuguda</a>
        </div><br><br>

              </div>
              <div class="col-sm">
                <button class="btn btn-outline-warning" data-toggle="collapse" data-target="#demo9">Manipur</button>
        <div id="demo9" class="collapse">
        <a href="https://imphalwest.nic.in/document-category/containment-zone/">Imphal</a>
        </div><br><br>

        <button class="btn btn-outline-warning" data-toggle="collapse" data-target="#demo10">Himachal Pradesh</button>
        <div id="demo10" class="collapse">
        <a href="http://nrhmhp.gov.in/content/hot-spots">Go to nrhmhp.gov.in</a>
        </div><br><br>

        <button class="btn btn-outline-warning" data-toggle="collapse" data-target="#demo11">Haryana</button>
        <div id="demo11" class="collapse">
        <a href="https://sonipat.gov.in/containment-area/">Sonipat</a><br>
        <a href="https://faridabad.nic.in/document/containment-zone-dated-23-04-2021/">Faridabad</a><br>
        <a href="https://mahendragarh.gov.in/document/order-regarding-58-containment-zones/">Mahendragarh</a><br>
        <a href="https://rohtak.gov.in/information/">Rohtak</a><br>
        <a href="https://rewari.gov.in/notice/order-de-containment-zone-6/">Rewari</a>
        </div><br><br>


        
              </div>
        <div class="col-sm">
            <button class="btn btn-outline-warning" data-toggle="collapse" data-target="#demo4">Uttar Pradesh</button>
            <div id="demo4" class="collapse">
            <a href="https://gbnagar.nic.in/novel-corona-virus-covid-19/">GautamBuddha Nagar</a>
            </div><br><br>

            <button class="btn btn-outline-warning" data-toggle="collapse" data-target="#demo13">Tamil Nadu</button>
        <div id="demo13" class="collapse">
        <a href="https://tnsdma.tn.gov.in/pages/view/containment-zones">Go to tnsdma.tn.gov.in</a><br>
        </div><br><br>

        <button class="btn btn-outline-warning" data-toggle="collapse" data-target="#demo6">Assam</button>
        <div id="demo6" class="collapse">
        <a href="https://covid19.assam.gov.in/containment-zone/">Go to covid19.assam.gov.in</a>
        </div><br><br>
        </div>
            </div>
          </div>
       

        
        
    </div>

</body>

</html>