<!DOCTYPE html>
<html>
  <head>
    <title>All about covid</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<style>
    body{
        background-color: #16213e;
    }
    img{
        opacity: 0.2;
    }
    h2,p,h3{
        color:white;
    }
    .container{
        margin: 200px;
    }
    .navbar{
  background-color: black;
  color: white;
}
</style>
</head>
  <body>
    <nav class="navbar">
        <h2 class="navbar-brand">COVID ASSIST</h2>
       
       
        <a class="nav-link" href="/">Home </a>
      </nav>
      <div class="m-5"><h2>Following are the online doctor consultation websites. Please choose from below to visit the official sites:</h2></div>
      
<div class="m-5">
    <div class="row">
        <div class="col-4">
          <div class="list-group" id="list-tab" role="tablist">
            <a class="list-group-item list-group-item-action active" id="list-tata-list" data-toggle="list" href="#list-tata" role="tab" aria-controls="tata">TATA Health</a>
            <a class="list-group-item list-group-item-action" id="list-esanj-list" data-toggle="list" href="#list-esanj" role="tab" aria-controls="esanj">ESanjeevani</a>
            <a class="list-group-item list-group-item-action" id="list-carefit-list" data-toggle="list" href="#list-carefit" role="tab" aria-controls="carefit">Care.fit</a>
            <a class="list-group-item list-group-item-action" id="list-practo-list" data-toggle="list" href="#list-practo" role="tab" aria-controls="practo">Practo</a>
            
          </div>
        </div>
        <div class="col-8">
          <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="list-tata" role="tabpanel" aria-labelledby="list-tata-list">
                <h3>TATA Health</h3>
                <p>
                    Tata Health is a mobile and web-based application that offers healthcare consultation and management solutions for individuals.
                Tata Health's headquarters is in Inn Bangalore, Karnataka. Tata Health has a revenue of $5.8M, and 85 employees. Tata Health's main competitors are DocsApp, Lybrate and Practo. Tata Health has 23 followers on Owler.
                </p>
                <a href="https://www.tatahealth.com/doctors-in-bangalore?utm_source=google&utm_medium=search_ads&utm_campaign=Schedule_All_SP&gclid=CjwKCAjw7diEBhB-EiwAskVi12oLvGRSA2NUjZNctooUl5MXMBF7EssaLsMqWgB-LUtmj20fWjhk8xoCj-wQAvD_BwE">Official Website</a><br>
            </div>
            <div class="tab-pane fade" id="list-esanj" role="tabpanel" aria-labelledby="list-esanj-list">
                <h3>Esanjeevani-National Tele Consultation Service</h3>
                <p>
                    eSanjeevani', is a web-based comprehensive telemedicine solution. It is modeled on ‘Sanjeevani’ CDAC Mohali’s' flagship integrated telemedicine solution. 'eSanjeevani' extends the reach of specialized healthcare services to masses in both rural areas and isolated communities. Besides enhancing quality of medical services, addressing issues pertaining to uneven distribution and shortage of infrastructural as well as human resources, eSanjeevani also aims to make healthcare services equitable by bridging the digital divide that exists between the urban vs. rural, rich vs. poor etc. eSanjeevani can also be used to provide medical education to interns , people across various Common Service Centers (CSCs), etc.
                </p>
                <a href="https://esanjeevaniopd.in/">Official Website</a>

            </div>
            <div class="tab-pane fade" id="list-carefit" role="tabpanel" aria-labelledby="list-carefit-list">
                <h3>Care.fit</h3>
                <p>
                    Curefit has introduced multiple services in a bid to become a ‘super-app’ centered around better health. Starting with gyms in 2016, it expanded to Eat.Fit for healthy eating, Mind.Fit for yoga and mental wellness and Care.Fit for primary healthcare. 
                </p>
                <a href="https://www.cure.fit/care/doctor-consultation">Official Website</a>
            </div>
            <div class="tab-pane fade" id="list-practo" role="tabpanel" aria-labelledby="list-practo-list">
                <h3>Practo</h3>
                <p>
                    Practo is an mhealth platform that connects patients with healthcare providers through booking appointments, check-ups, and consultations.
                </p>
                <a href="https://www.practo.com/">Official Website</a>
            </div>
           
          </div>
        </div>
      </div>
</div>
    
      <div>
          <p>
          </p>
          
          
      </div>