<!DOCTYPE html>
<html>
  <head>
    <title>All about covid</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<style>
    body{
        background-image: url('/static/wrld.jpg');
        background-size: cover;
    }
    img{
        opacity: 0.2;
    }
   
    h2,p,h3,a{
        color:white;
    }
    .container{
        margin: 100px;
    }
    .navbar{
  background-color: black;
  color: white;
}
</style>
</head>
<body>
    <nav class="navbar">
        <h2 class="navbar-brand">COVID ASSIST</h2>
       
       
        <a class="nav-link" href="/">Home </a>
      </nav>
    <div class="container">
        <div class="row">
        <div class="col-sm">
        <h2>HELPLINE NUMBERS</h2>
        <p>Choose your State</p>
        <br>
        <a href="https://www.oneindia.com/andhra-pradesh-emergency-helpline-numbers-list.html"><button class="btn btn-outline-warning" data-toggle="collapse" data-target="#demo1">Andhra Pradesh</button></a>
        <br><br>
         
        <a href="https://www.oneindia.com/arunachal-pradesh-emergency-helpline-numbers-list.html"><button class="btn btn-outline-warning" data-toggle="collapse" data-target="#demo1">Arunachal Pradesh</button></a>
        <br><br>
         
        <a href="https://www.oneindia.com/assam-emergency-helpline-numbers-list.html"><button class="btn btn-outline-warning" data-toggle="collapse" data-target="#demo1">Assam</button></a>
        <br><br>
         
        <a href="https://www.oneindia.com/bihar-emergency-helpline-numbers-list.html"><button class="btn btn-outline-warning" data-toggle="collapse" data-target="#demo1">Bihar</button></a>
        <br><br>
         
        <a href="https://indianhelpline.com/CHATTISHGARH/"><button class="btn btn-outline-warning" data-toggle="collapse" data-target="#demo1">Chhattisgarh</button></a>
        <br><br>
         
        <a href="https://www.oneindia.com/goa-emergency-helpline-numbers-list.html"><button class="btn btn-outline-warning" data-toggle="collapse" data-target="#demo1">Goa</button></a>
        <br><br>
         
        <a href="https://www.oneindia.com/gujrat-emergency-helpline-numbers-list.html"><button class="btn btn-outline-warning" data-toggle="collapse" data-target="#demo1">Gujarat</button></a>
        <br><br>
         
        <a href="https://www.oneindia.com/haryana-emergency-helpline-numbers-list.html"><button class="btn btn-outline-warning" data-toggle="collapse" data-target="#demo1">Haryana</button></a>
        <br><br>
         
        <a href="https://www.oneindia.com/himachal-pradesh-emergency-helpline-numbers-list.html"><button class="btn btn-outline-warning" data-toggle="collapse" data-target="#demo1">Himachal Pradesh</button></a>
        <br><br>
         
        <a href="https://www.oneindia.com/jharkhand-emergency-helpline-numbers-list.html"><button class="btn btn-outline-warning" data-toggle="collapse" data-target="#demo1">Jharkhand</button></a>
        <br><br>
         
        <a href="https://www.oneindia.com/karnataka-emergency-helpline-numbers-list.html"><button class="btn btn-outline-warning" data-toggle="collapse" data-target="#demo1">Karnataka</button></a>
        <br><br>
         
        <a href="https://www.oneindia.com/kerala-emergency-helpline-numbers-list.html"><button class="btn btn-outline-warning" data-toggle="collapse" data-target="#demo1">Kerala</button></a>
        <br><br>
         
        <a href="https://www.oneindia.com/madhya-pradesh-emergency-helpline-numbers-list.html"><button class="btn btn-outline-warning" data-toggle="collapse" data-target="#demo1">Madhya Pradesh</button></a>
        <br><br>
         
        <a href="https://www.oneindia.com/maharashtra-emergency-helpline-numbers-list.html"><button class="btn btn-outline-warning" data-toggle="collapse" data-target="#demo1">Maharashtra</button></a>
        <br><br>

        <a href="https://www.oneindia.com/manipur-emergency-helpline-numbers-list.html"><button class="btn btn-outline-warning" data-toggle="collapse" data-target="#demo1">Manipur</button></a>
        <br><br>

        <a href="https://www.oneindia.com/meghalaya-emergency-helpline-numbers-list.html"><button class="btn btn-outline-warning" data-toggle="collapse" data-target="#demo1">Meghalaya</button></a>
        <br><br>

        <a href="https://www.oneindia.com/mizoram-emergency-helpline-numbers-list.html"><button class="btn btn-outline-warning" data-toggle="collapse" data-target="#demo1">Mizoram</button></a>
        <br><br>

        <a href=https://www.oneindia.com/nagaland-emergency-helpline-numbers-list.html"><button class="btn btn-outline-warning" data-toggle="collapse" data-target="#demo1">Nagaland</button></a>
        <br><br>

        <a href="https://www.oneindia.com/odisha-emergency-helpline-numbers-list.html"><button class="btn btn-outline-warning" data-toggle="collapse" data-target="#demo1">Odisha</button></a>
        <br><br>

        <a href="https://www.oneindia.com/punjab-emergency-helpline-numbers-list.html"><button class="btn btn-outline-warning" data-toggle="collapse" data-target="#demo1">Punjab</button></a>
        <br><br>

        <a href="https://www.oneindia.com/rajasthan-emergency-helpline-numbers-list.html"><button class="btn btn-outline-warning" data-toggle="collapse" data-target="#demo1">Rajasthan</button></a>
        <br><br>

        <a href="https://www.oneindia.com/sikkim-emergency-helpline-numbers-list.html"><button class="btn btn-outline-warning" data-toggle="collapse" data-target="#demo1">Sikkim</button></a>
        <br><br>

        <a href="hhttps://www.oneindia.com/tamil-nadu-emergency-helpline-numbers-list.html"><button class="btn btn-outline-warning" data-toggle="collapse" data-target="#demo1">Tamil Nadu</button></a>
        <br><br>

        <a href="https://www.oneindia.com/telangana-emergency-helpline-numbers-list.html"><button class="btn btn-outline-warning" data-toggle="collapse" data-target="#demo1">Telangana</button></a>
        <br><br>

        <a href="https://www.oneindia.com/tripura-emergency-helpline-numbers-list.html"><button class="btn btn-outline-warning" data-toggle="collapse" data-target="#demo1">Tripura</button></a>
        <br><br>

        <a href="https://www.oneindia.com/uttar-pradesh-emergency-helpline-numbers-list.html"><button class="btn btn-outline-warning" data-toggle="collapse" data-target="#demo1">Uttar Pradesh</button></a>
        <br><br>

        <a href="https://www.oneindia.com/uttarakhand-emergency-helpline-numbers-list.html"><button class="btn btn-outline-warning" data-toggle="collapse" data-target="#demo1">Uttarakhand</button></a>
        <br><br>

        <a href="https://www.oneindia.com/west-bengal-emergency-helpline-numbers-list.html"><button class="btn btn-outline-warning" data-toggle="collapse" data-target="#demo1">West Bengal</button></a>
        <br><br>
        
        </div>
        <div class="col-sm">
        <br>
        <br>
        <p>Choose your Union Territory</p>
        <br>

        <a href="https://www.oneindia.com/andaman-and-nicobar-island-emergency-helpline-numbers-list.html"><button class="btn btn-outline-warning" data-toggle="collapse" data-target="#demo1">Andaman and Nicobar Islands</button></a>
        <br><br>
         
        <a href="https://www.oneindia.com/chandigarh-emergency-helpline-numbers-list.html"><button class="btn btn-outline-warning" data-toggle="collapse" data-target="#demo1">Chandigarh</button></a>
        <br><br>
         
        <a href="https://www.oneindia.com/daman-and-diu-emergency-helpline-numbers-list.html"><button class="btn btn-outline-warning" data-toggle="collapse" data-target="#demo1">Dadra and Nagar Haveli and Daman & Diu</button></a>
        <br><br>
         
        <a href="https://www.oneindia.com/delhi-emergency-helpline-numbers-list.html"><button class="btn btn-outline-warning" data-toggle="collapse" data-target="#demo1">Delhi</button></a>
        <br><br>
         
        <a href="https://www.oneindia.com/jammu-kashmir-emergency-helpline-numbers-list.html"><button class="btn btn-outline-warning" data-toggle="collapse" data-target="#demo1">Jammu &amp; Kashmir</button></a>
        <br><br>

        <a href="https://www.oneindia.com/ladakh-emergency-helpline-numbers-list.html"><button class="btn btn-outline-warning" data-toggle="collapse" data-target="#demo1">Ladakh</button></a>
        <br><br>
         
        <a href="https://www.oneindia.com/lakshdweep-emergency-helpline-numbers-list.html"><button class="btn btn-outline-warning" data-toggle="collapse" data-target="#demo1">Lakshadweep</button></a>
        <br><br>
         
        <a href="https://www.oneindia.com/pondicherry-emergency-helpline-numbers-list.html"><button class="btn btn-outline-warning" data-toggle="collapse" data-target="#demo1">Puducherry</button></a>
        <br><br>
 </div>
 </div>

    </div>

</body>

</html>