<!DOCTYPE html>
<html>
  <head>
    <title>All about covid</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<style>
    body{
        background-color: #16213e;
    }
    img{
        opacity: 0.2;
    }
    h2,p{
        color:white;
    }
    .container{
        margin: 200px;
    }
    .navbar{
  background-color: black;
  color: white;
}
</style>
</head>
<body>
    <nav class="navbar">
        <h2 class="navbar-brand">COVID ASSIST</h2>
       
       
        <a class="nav-link" href="/">Home </a>
      </nav>
    <div class="float-right">
        <img src="{{url_for('static', filename='plasma.jpg')}}" alt="" width="800" height="710">
    </div><br>
    <div class="container">
        
        <h2>PLASMA</h2>
        <p>WHO ARE YOU?</p><br>
        <button data-toggle="collapse" data-target="#demo1" class="btn btn-outline-warning">A DONOR</button>
        <div id="demo1" class="collapse">
        <a href="https://plasmadonor.in/donor-form/">go to plasmadonor.in</a>
        </div><br><br>
        <button data-toggle="collapse" data-target="#demo2" class="btn btn-outline-warning">A PATIENT</button>
        <div id="demo2" class="collapse">
            <a href="https://plasmaline.in/patients/">Go to palsmaline.in</a><br>
            <a href="https://plasmadonor.in/for-patient/">Go to palsmadonor.in</a>
            
        </div>
      
    </div>

</body>

</html>