<!DOCTYPE html>
<html>
  <head>
    <title>All about covid</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<style>
    body{
        background-color: #16213e;
    }
    img{
        opacity: 0.2;
    }
    h2,p,h3{
        color:white;
    }
    .container{
        margin: 200px;
    }
    .navbar{
  background-color: black;
  color: white;
}
</style>
</head>
<body>

<div class="page-list prof stateut">
          <h3>States and Capitals</h3>
          <div class="innr-cont mrgn-none">
          <div class="page-menu">
            <ul>
              <li>
                <h3><a href="https://www.ap.gov.in/" target="_blank" title="External website that opens in a new window">Andhra Pradesh<em>(Amaravati)</em><span class="strong"><i class="fa fa-link"></i></span></a></h3>
              </li>
              <li>
                <h3 class="list"><a href="https://www.arunachalpradesh.gov.in/" target="_blank" title="External website that opens in a new window">Arunachal Pradesh<em>(Itanagar)</em><span class="strong"><i class="fa fa-link"></i></span></a></h3>
              </li>
              <li>
                <h3><a href="https://assam.gov.in/" target="_blank" title="External website that opens in a new window">Assam<em>(Dispur)</em><span class="strong"><i class="fa fa-link"></i></span></a></h3>
              </li>
              <li>
                <h3><a href="https://state.bihar.gov.in/main/CitizenHome.html" target="_blank" title="External website that opens in a new window">Bihar<em>(Patna)</em><span class="strong"><i class="fa fa-link"></i></span></a></h3>
              </li>
              <li>
                <h3><a href="https://www.cgstate.gov.in/en/web/guest/home" target="_blank" title="External website that opens in a new window">Chhattisgarh<em>(Raipur)</em><span class="strong"><i class="fa fa-link"></i></span></a></h3>
              </li>
              <li>
                <h3><a href="#" target="_blank" title="External website that opens in a new window">Goa<em>(Panaji)</em><span class="strong"><i class="fa fa-link"></i></span></a></h3>
              </li>
              <li>
                <h3><a href="https://gujaratindia.gov.in/" target="_blank" title="External website that opens in a new window">Gujarat<em>(Gandhinagar)</em><span class="strong"><i class="fa fa-link"></i></span></a></h3>
              </li>
              
            </ul>
          </div>
          <div class="page-menu">
            <ul>
			<li>
                <h3><a href="https://haryana.gov.in/" target="_blank" title="External website that opens in a new window">Haryana<em>(Chandigarh)</em><span class="strong"><i class="fa fa-link"></i></span></a></h3>
              </li>
              <li>
                <h3><a href="https://himachal.gov.in/en-IN/" target="_blank" title="External website that opens in a new window">Himachal Pradesh<em>(Shimla)</em><span class="strong"><i class="fa fa-link"></i></span></a></h3>
              </li>
              
              <li>
                <h3><a href="https://www.jharkhand.gov.in/" target="_blank" title="External website that opens in a new window">Jharkhand<em>(Ranchi)</em><span class="strong"><i class="fa fa-link"></i></span></a></h3>
              </li>
              <li>
                <h3><a href="https://www.karnataka.gov.in/english" target="_blank" title="External website that opens in a new window">Karnataka<em>(Bangalore)</em><span class="strong"><i class="fa fa-link"></i></span></a></h3>
              </li>
              <li>
                <h3><a href="https://kerala.gov.in/" target="_blank" title="External website that opens in a new window">Kerala<em>(Thiruvananthapuram)</em><span class="strong"><i class="fa fa-link"></i></span></a></h3>
              </li>
              <li>
                <h3><a href="https://mp.gov.in/" target="_blank" title="External website that opens in a new window">Madhya Pradesh<em>(Bhopal)</em><span class="strong"><i class="fa fa-link"></i></span></a></h3>
              </li>
              <li>
                <h3><a href="https://www.maharashtra.gov.in/1125/Home" target="_blank" title="External website that opens in a new window">Maharashtra<em>(Mumbai)</em><span class="strong"><i class="fa fa-link"></i></span></a></h3>
              </li>
            </ul>
          </div>
          <div class="page-menu">
            <ul>
              <li>
                <h3 class="list"><a href="#" target="_blank" title="External website that opens in a new window">Manipur<em>(Imphal)</em><span class="strong"><i class="fa fa-link"></i></span></a></h3>
              </li>
              <li>
                <h3 class="list"><a href="https://meghalaya.gov.in/" target="_blank" title="External website that opens in a new window">Meghalaya<em>(Shillong)</em><span class="strong"><i class="fa fa-link"></i></span></a></h3>
              </li>
              <li>
                <h3><a href="https://mizoram.gov.in/" target="_blank" title="External website that opens in a new window">Mizoram<em>(Aizawl)</em><span class="strong"><i class="fa fa-link"></i></span></a></h3>
              </li>
              <li>
                <h3><a href="https://www.nagaland.gov.in/" target="_blank" title="External website that opens in a new window">Nagaland<em>(Kohima)</em><span class="strong"><i class="fa fa-link"></i></span></a></h3>
              </li>
              <li>
                <h3><a href="https://odisha.gov.in/" target="_blank" title="External website that opens in a new window">Odisha<em>(Bhubaneshwar)</em><span class="strong"><i class="fa fa-link"></i></span></a></h3>
              </li>
              <li>
                <h3><a href="https://punjab.gov.in/" target="_blank" title="External website that opens in a new window">Punjab<em>(Chandigarh)</em><span class="strong"><i class="fa fa-link"></i></span></a></h3>
              </li>
              <li>
                <h3><a href="https://www.rajasthan.gov.in/Pages/default.aspx" target="_blank" title="External website that opens in a new window">Rajasthan<em>(Jaipur)</em><span class="strong"><i class="fa fa-link"></i></span></a></h3>
              </li>
            </ul>
          </div>
          <div class="page-menu">
            <ul>
              <li>
                <h3><a href="https://sikkim.gov.in/" target="_blank" title="External website that opens in a new window">Sikkim<em>(Gangtok)</em><span class="strong"><i class="fa fa-link"></i></span></a></h3>
              </li>
              <li>
                <h3><a href="https://www.tn.gov.in/" target="_blank" title="External website that opens in a new window">Tamil Nadu<em>(Chennai)</em><span class="strong"><i class="fa fa-link"></i></span></a></h3>
              </li>
              <li>
                <h3><a href="http://www.telangana.gov.in" target="_blank" title="External website that opens in a new window">Telangana<em>(Hyderabad)</em><span class="strong"><i class="fa fa-link"></i></span></a></h3>
              </li>
              <li>
                <h3><a href="https://tripura.gov.in/" target="_blank" title="External website that opens in a new window">Tripura<em>(Agartala)</em><span class="strong"><i class="fa fa-link"></i></span></a></h3>
              </li>
              <li>
                <h3><a href="https://uk.gov.in/" target="_blank" title="External website that opens in a new window">Uttarakhand<em>(Dehradun)</em><span class="strong"><i class="fa fa-link"></i></span></a></h3>
              </li>
              <li>
                <h3><a href="http://up.gov.in/" target="_blank" title="External website that opens in a new window">Uttar Pradesh<em>(Lucknow)</em><span class="strong"><i class="fa fa-link"></i></span></a></h3>
              </li>
              <li>
                <h3><a href="https://wb.gov.in/index.aspx" target="_blank" title="External website that opens in a new window">West Bengal<em>(Kolkata)</em><span class="strong"><i class="fa fa-link"></i></span></a></h3>
              </li>
            </ul>
          </div>
          
        </div>
        </div>

        <div class="page-list prof stateut">
            <h3>Union Territories</h3>
            <div class="innr-cont mrgn-btm40">
                <div class="page-menu">
                  <ul>
                    <li>
                      <h3><a href="https://www.andaman.gov.in/" target="_blank" title="External website that opens in a new window">Andaman and Nicobar Islands<em>(Port Blair)</em><span class="strong"><i class="fa fa-link"></i></span></a></h3>
                    </li>
                    <li>
                      <h3><a href="http://chandigarh.gov.in/" target="_blank" title="External website that opens in a new window">Chandigarh<em>(Chandigarh)</em><span class="strong"><i class="fa fa-link"></i></span></a></h3>
                    </li>
                  </ul>
                </div>
                <div class="page-menu">
                  <ul>
                   
                    <li>
                    <h3><a href="https://ddd.gov.in/" target="_blank" title="External website that opens in a new window">Dadra and Nagar Haveli and <br>Daman &amp; Diu <em>(Daman)</em><span class="strong"><i class="fa fa-link"></i></span></a></h3>
                    </li>
                    <li>
                      <h3><a href="https://delhi.gov.in/" target="_blank" title="External website that opens in a new window">The Government of NCT of Delhi<em>(Delhi)</em><span class="strong"><i class="fa fa-link"></i></span></a></h3>
                    </li>
                  </ul>
                </div>
                <div class="page-menu">
                  <ul>
                    
                    <li>
                  <h3><a href="https://jk.gov.in/jammukashmir/" target="_blank" title="External website that opens in a new window">Jammu &amp; Kashmir<br><em>(Srinagar<i>-S</i>*<i>,</i> Jammu<i>-W</i>*)</em> <span class="strong"><i class="fa fa-link"></i></span></a></h3>
                </li>
                    <li>
                      <h3><a href="http://ladakh.nic.in/" target="_blank" title="External website that opens in a new window">Ladakh<em>(Leh)</em> <span class="strong"><i class="fa fa-link"></i></span></a></h3>
                    </li>
                  </ul>
                </div>
                <div class="page-menu">
                  <ul>
                  <li>
                      <h3><a href="https://lakshadweep.gov.in/" target="_blank" title="External website that opens in a new window">Lakshadweep<em>(Kavaratti)</em><span class="strong"><i class="fa fa-link"></i></span></a></h3>
                    </li>
                    <li>
                      <h3><a href="https://www.py.gov.in/" target="_blank" title="External website that opens in a new window">Puducherry<em>(Puducherry)</em><span class="strong"><i class="fa fa-link"></i></span></a></h3>
                    </li>
                  </ul>
                
          </div>
          
        </body>
        </html>